<div class="container">
    <div class="card border-danger">
      <div class="card-header">{{titulo}}</div>
      <div class="card-body text-dark">
        <h5 class="card-title fs-4 text-center">Listado de Reservas</h5>
  
        <div *ngIf="reservas?.length===0" class="alert alert-info">
          No hay reservas registradas
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover text-center" *ngIf="reservas != null && reservas.length > 0">
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR')">Empresa</th>
                    <th>Fecha Creada</th>
                    <th>Codigo</th>
                    <th>Fecha Embarque</th>
                    <th>Destino</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of reservas">
                <td *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR')" class="align-middle">{{reserva.itinerario.embarcacion.empresa.nombre | uppercase}}</td>
                <td class="align-middle">{{reserva.createdAt}}</td>
                <td class="align-middle">{{reserva.codigoReserva}}</td>
                <td class="align-middle">{{reserva.itinerario.fechaEmbarque}}</td>
                <td class="align-middle">{{reserva.itinerario.destino.nombre | uppercase}}</td>
                <td class="align-middle">{{reserva.total}}</td>
                <td class="align-middle">
                  <button type="button" name="editar" [routerLink]="['/reservas', reserva.id]"
                  class="btn btn-primary btn-sm">
                    ver
                  </button>
                </td>
                <td class="align-middle">
                  <button  type="button" name="eliminar" (click)="delete(reserva)" class="btn btn-danger btn-sm">
                        Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <paginator-nav *ngIf="paginador && paginador.totalPages > 1" [paginador]="paginador" [enlacePaginador]="enlacePaginador" [sizePagina]="sizePagina"></paginator-nav>
      </div>
    </div>
  </div>