<div class="container">
  <detalle-empresa *ngIf="empresaSeleccionada" [empresa]="empresaSeleccionada"></detalle-empresa>
  <div class="card border-danger">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-dark">
      <h5 class="card-title fs-4 text-center">Listado de Empresas</h5>

      <div class="my-2 text-left">
        <button class="btn btn rounded btn-primary" type="button" [routerLink]="['/empresas/form']">Nueva Empresa</button>
      </div>
      <div *ngIf="empresas?.length===0" class="alert alert-info">
        No hay empresas registradas
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center" *ngIf="empresas != null && empresas.length > 0">
          <thead>
              <tr>
                <th>Perfil</th>
                <th>Nombre</th>
                <th>Nit</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th></th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of empresas">
              <td>
                <img (click)="abrilModal(empresa)" *ngIf="empresa?.imagen" 
                  src="http://localhost:8080/v1/empresas/uploads/img/{{empresa.imagen}}" alt="imagen de la empresa" class="img-thumbnail rounded"
                  style="width:64px; height: 64px; cursor: pointer;">

                  <img (click)="abrilModal(empresa)" *ngIf="!empresa?.imagen" 
                  src="http://localhost:8080/images/not-image.png" alt="empresa sin imagen" class="img-thumbnail rounded"
                  style="width:64px; height: 64px; cursor: pointer; vertical-align: middle;">
              </td>
              <td class="align-middle">{{empresa.nombre | uppercase}}</td>
              <td class="align-middle">{{empresa.nit}}</td>
              <td class="align-middle">{{empresa.email}}</td>
              <td class="align-middle">{{empresa.telefono}}</td>
              <td class="align-middle">{{empresa.enabled ? 'Activa' : 'Inactiva'}}</td>
              <td class="align-middle">
                <button 
                  type="button" 
                  name="editar" 
                  [routerLink]="['/empresas/form', empresa.id]"
                  class="btn btn-primary btn-sm">Editar
                </button>
              </td>
              <td class="align-middle">
                <button 
                  type="button" 
                  name="eliminar" 
                  (click)="delete(empresa)"
                  class="btn btn-danger btn-sm">Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <paginator-nav *ngIf="paginador && paginador.totalPages > 1" [paginador]="paginador" [enlacePaginador]="enlacePaginador" [sizePagina]="sizePagina"></paginator-nav>
    </div>
  </div>
</div>