mat-form-field {
    margin-top: -5px;
    height: 70px;
}

.form_buttom {
    width: 49%;
    margin-top: -10px;
    margin-right: 2px;
    margin-left: 2px;
}

.input_estado {
    width: 25%;
    margin-right: 7px;
}

.input_rol {
    width: 73%;
}