<div class="container">
    <div class="card border-danger">
      <div class="card-header">{{titulo}}</div>
      <div class="card-body text-dark">
        <h5 class="card-title fs-4 text-center">Listado de Itinerarios</h5>
  
        <div class="my-2 text-left">
          <button *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR') || authService.hasRole('ROLE_ADMINISTRADOR')" class="btn btn rounded btn-primary" type="button" [routerLink]="['/itinerarios/form']">Nuevo Itinerario</button>
        </div>
        <div *ngIf="itinerarios?.length===0" class="alert alert-info">
          No hay itinerarios registrados
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover text-center" *ngIf="itinerarios != null && itinerarios.length > 0">
            <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Salidad</th>
                  <th>Regreso</th>
                  <th>Cupos</th>
                  <th>Precio</th>
                  <th>Embarcacion</th>
                  <th>Destinos</th>
                  <th>Muelle</th>
                  <th *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR') || authService.hasRole('ROLE_ADMINISTRADOR')"></th>
                  <th *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR') || authService.hasRole('ROLE_ADMINISTRADOR')"></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itinerario of itinerarios">
                <td>{{itinerario.fechaEmbarque}}</td>
                <td>{{itinerario.horaSalida}}</td>
                <td>{{itinerario.horaRegreso}}</td>
                <td>{{itinerario.cupos}}</td>
                <td>{{itinerario.precio | currency}}</td>
                <td>{{itinerario.embarcacion.nombre}}</td>
                <td>{{itinerario.destino.nombre}}</td>
                <td>{{itinerario.muelle.nombre}}</td>
                <td *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR') || authService.hasRole('ROLE_ADMINISTRADOR')">
                  <button type="button" name="editar" [routerLink]="['/itinerarios/form', itinerario.id]"
                  class="btn btn-primary btn-sm">
                    Editar
                  </button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_SUPERADMINISTRADOR') || authService.hasRole('ROLE_ADMINISTRADOR')" class="align-middle">
                  <button  type="button" name="eliminar" (click)="delete(itinerario)" class="btn btn-danger btn-sm">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <paginator-nav *ngIf="paginador && paginador.totalPages > 1" [paginador]="paginador" [enlacePaginador]="enlacePaginador" [sizePagina]="sizePagina"></paginator-nav>
      </div>
    </div>
  </div>

